﻿ /* Body stil ayarları */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10vh;
}

h1 {
    position: fixed;
    top: 0;
    left: 50%;
    bottom:auto;
    transform: translateX(-50%);
    background-color: white; /* İsteğe bağlı: Arkaplanı beyaz yapar */
    padding: 10px 20px; /* İsteğe bağlı: Başlığın etrafına biraz boşluk ekler */
    z-index: 999; /* İsteğe bağlı: Başlığın diğer içeriklerin üstünde olmasını sağlar */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* İsteğe bağlı: Başlığa bir gölge ekler */
}

#dataTable {
    border-collapse: collapse;
    table-layout: auto; /* Tablo genişliğini içeriğe göre ayarlar */
}


/* Tablo container stil ayarları */
#dataContainer {
    height: 500px; /* Örnek bir yükseklik değeri, ihtiyacınıza göre ayarlayabilirsiniz */
    overflow: auto; /* Dikey kaydırmayı etkinleştirir, gerektiğinde kaydırma çubuğunu gösterir */
}


/* Tablo başlık hücresi stil ayarları */
#dataTable th {
    padding: 3px;
    text-align: left;
    border: 3px solid #ddd;
    background-color: #f2f2f2;
}

/* Tablo hücresi stil ayarları */
#dataTable td {
    padding: 3px;
    text-align: left;
    border: 3px solid #ddd;
}


#updateForm {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    #updateForm h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

#label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

#input[type="text"] {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

    #button:hover {
        background-color: #45a049;
    }

#getByIdSection {
    border: 2px solid #ccc; /* Çerçeve rengi */
    padding: 20px; /* İçerik ile çerçeve arasındaki boşluk */
    border-radius: 10px; /* Köşeleri yuvarlatır */
    max-width: 500px; /* Maksimum genişlik */
    margin: -200px auto 0; /* 100px yukarı kaydırır */
}

#createBookForm {
    border: 2px solid #ccc; /* Çerçeve rengi */
    padding: 20px; /* İçerik ile çerçeve arasındaki boşluk */
    border-radius: 10px; /* Köşeleri yuvarlatır */
    max-width: 500px; /* Maksimum genişlik */
    margin: -200px auto 0; /* 100px yukarı kaydırır */
}


