body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#dataContainer {
    margin-top: 20px;
    text-align: center;
}

.name,
.author,
.publisher {
    margin-bottom: 10px;
}
